[tool.poetry]
name = "rouver"
version = "2.4.4"
description = "A microframework"
readme = "README.md"
authors = ["Sebastian Rittau <srittau@rittau.biz>"]
license = "MIT"
homepage = "https://github.com/srittau/rouver"
repository = "https://github.com/srittau/rouver"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Topic :: Internet :: WWW/HTTP :: WSGI",
]
packages = [{ include = "rouver" }, { include = "rouver_test" }]
include = ["*/py.typed"]

[tool.poetry.dependencies]
python = "^3.7"
dectest = "^1.0.0"
werkzeug = ">=2.0,<3"
typing-extensions = "^4.1.1"

[tool.poetry.dev-dependencies]
asserts = ">=0.10.0,<0.12"
black = "^22.3.0"
flake8 = "^4.0.1"
isort = "^5.10.1"
mypy = "0.960"
pytest = ">=6.2.5, <8"

[tool.black]
line-length = 79
target-version = ["py37"]

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
combine_as_imports = true
line_length = 79
known_zctest = "test_zcapi,test_zcbase,test_zcevents"
sections = "FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER,ZCTEST"

[tool.pytest.ini_options]
python_files = "rouver_test/**.py"
python_functions = "test_*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
